body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 5%;
}

.chat-container {
    width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-inline: auto;
}

.chat-box {
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #f9f9f9;
}

.message {
    padding: 5px 10px;
    margin: 5px 0;
}

.user-message {
    text-align: right;
    background-color: #e0f7fa;
    border-radius: 5px;
}

.system-message {
    text-align: left;
    background-color: #ffecb3;
    border-radius: 5px;
}

.helper-message {
    text-align: center;
    background-color: rgba(211, 18, 0, 0.25);
    border-radius: 5px;
}

form {
    display: flex;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    padding: 10px;
    background-color: #41bad4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
